html, body {
    height: 100%;
    background: #000000;
    overflow: hidden;
}

iframe {
    height: 100%;
}

[v-cloak] {
    display: none;
}

.time {
    cursor: pointer;
}

.full-height {
    height: 100%;
}

.streamer {
    margin-top: 0.5em;
}

.progressbar {
    height: 3px;
}