<!DOCTYPE HTML>
<html lang="de">
<head>
	<meta charset="utf-8">
    <title>VoD-Sync</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/solid.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/fontawesome.min.css"/>
	<link rel="stylesheet" href="assets/main.css?v=2">
</head>
<body>
    <div class="columns is-gapless is-marginless full-height">
        <div id="player" class="column is-10 full-height"></div>
        <div id="controller" class="column is-2 full-height" v-cloak>
            <div class="time subtitle has-text-grey-light has-text-centered" @click="edit">{{ time | formatTime}}</div>
            <streamer v-for="streamer in streamers" :time="time" :streamer="streamer" @play="play($event)" inline-template>
                <div class="streamer">
                    <div class="progressbar has-background-primary" :style="{ width: progress + '%' }"></div>
                    <div class="field has-addons columns is-gapless">
                        <p class="control column is-10">
                            <a class="button is-small is-link is-radiusless is-fullwidth" :disabled="!active" @click="$emit('play', streamer)">
                                {{ streamer.name }}
                            </a>
                        </p>
                        <p class="control column is-2">
                            <a class="button is-small is-info is-radiusless is-fullwidth" :disabled="!active" :href="link" target="_blank">
                                <span class="icon">
                                    <i class="fas fa-external-link-alt"></i>
                                </span>
                            </a>
                        </p>
                    </div>
                </div>
            </streamer>

            <div class="modal" :class="{ 'is-active': modal }">
                <div class="modal-background" @click="cancel"></div>
                <div class="modal-content">
                    <div class="box">
                        <div class="field">
                            <input class="input" type="text" v-model="editTime">
                        </div>
                        <button class="button is-link" @click="save">Zeit ändern</button>
                    </div>
                </div>
                <button class="modal-close is-large" aria-label="close" @click="cancel"></button>
            </div>
        </div>
    </div>

    <script src="assets/luxon.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>
    <script src="https://player.twitch.tv/js/embed/v1.js"></script>
	<script src="assets/main.js?v=2"></script>
</body>
</html>